<style type="text/css" media="screen">
	span.arrow, span.arrow.chosen {
		color: green;
		opacity: 0.1;
		font-size: 300px;
	}

	span.arrow.chosen {
		opacity: 1;
	}

</style>

<div class="container" ng-controller="TiltCtrl">
	<!-- {{members}}	 -->
	<div class="arrows col-md-12">
		<div class="row text-center">
			<span class="glyphicon glyphicon-arrow-up arrow" ng-class="{'chosen': movement == 'up' }" ng-click="debugMode && debugTrigger('up')"></span>
		</div>
		<div class="row text-center">
			<span class="glyphicon glyphicon-arrow-left pull-left arrow" ng-class="{'chosen': movement == 'left' }" ng-click="debugMode && debugTrigger('left')"></span>
			<span class="glyphicon glyphicon-arrow-right pull-right arrow" ng-class="{'chosen': movement == 'right' }" ng-click=" debugMode && debugTrigger('right')"></span>
		</div>
		<div class="row text-center">
			<span class="glyphicon glyphicon-arrow-down arrow bottom" ng-class="{'chosen': movement == 'down' }" ng-click="debugMode && debugTrigger('down')"></span>
		</div>

	</div>


</div>
