<div class="container" ng-controller="TiltCtrl">

	<div class="arrows col-md-12">
		
		<div ng-repeat="directions in directionGroups" class="row text-center">
			<span 
				ng-repeat="direction in directions"
				class="glyphicon glyphicon-arrow-{{direction}} arrow pull-{{direction}}" 
				ng-class="{'chosen': movement == direction}" 
				ng-click="debugMode && triggerTilt(direction)"
				style="color: {{colour}}"
				>
			</span>
		</div>

	</div>

</div>