<div class="container" ng-controller="ColorCtrl">

	<form action="/choose_colour" method="post" accept-charset="utf-8">
		
		<button type="submit" ng-repeat="color in colors" name="colour" value="{{color}}" style="background-color: {{color}}; width: 150px; height: 150px"></button>

	</form>

</div>