<div id="qr-code-container">
	<img src="assets/qrcode.png">
</div>

<div ng-controller="AppCtrl" class="maze-container">

	<h1 class="heading">PusherMaze</h1>
	<h3 class="subheading">The most amazing maze you can play</h3>

	<canvas id="canvas" width="1000" height="1050">
	  <p> This text is displayed if your browser does not support HTML5 Canvas. </p>
	</canvas>

</div>