// Place all the styles related to the maze controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

body {
	background-image: url('background.png');
	background-repeat: no-repeat;
	background-size:cover;
	height: 100vh;
   	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

#qr-code-container {
	position: absolute;
	border: 2px solid transparent;
	-webkit-border-image: -webkit-linear-gradient(top,#b554e3  0%, #3bc0de  100%);
	-moz-border-image: -moz-linear-gradient(top,#b554e3  0%, #3bc0de  100%);
	border-image: linear-gradient(to bottom, #b554e3 0%, #3bc0de  100%);
	border-image-slice: 1;
	left: 200px;
	padding: 10px 10px 10px 10px;
}

#qr-code-container img {
	width: 150px;
	height: 150px;
}

div.maze-container {
	text-align:center;
}

h1.heading {
	font-size: 60px;
	color: #7a7a7a;
	font-weight: 100;
}

h3.subheading {
	font-size: 26px;
	color: #7a7a7a;
	font-weight: 100;
}

#canvas {
	margin-top: 75px;
	margin-left: 75px;
}